<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= title %>
    </title>
    <!-- CSS Section -->
    <link rel="stylesheet" href="/scripts/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/scripts/lib/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel=" stylesheet " href="/scripts/lib/font-awesome/css/font-awesome.min.css ">
    <link rel='stylesheet' href='content/app.css' />
  </head>
  
  
  <body>
      <!-- MAIN CONTENT -->
      <main class="container ">
          
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
          
          </main>
      
      
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    <!-- JavaScript Section -->
    <script src="scripts/lib/jquery/dist/jquery.min.js "> </script>
    <script src="scripts/lib/bootsrap/dist/js/bootstrap.min.js "></script>
    <script src="scripts/app.j "></script>
  </body>
</html>